/*====================== RESET'S =====================*/

* {
	margin: 0; 
	padding: 0; 
	font-size: 100%; 
	border: none; 
	outline: none; 
	font-weight: 600; 
	box-sizing: border-box;
	font-family: Arial, 'Sans Serif';
}

body {
	background: linear-gradient(to bottom, rgb(55,80,55), rgb(55,70,55)) no-repeat fixed 100% 100%;
	background: white no-repeat fixed center-center;
	background-size: 100% 100%; 
}



/*====================== CONFIG. GERAIS ======================*/

.container {
	width: 100%; 
	float: left;
	text-align: center;
}

.radius {
	border-radius: 4px;
}

